/* Add CSS styling here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-image: url("../images/starz.gif");
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
border: 20px double violet;
border-radius: 10px;
background-color: black;
}

#topPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h2 {
    color: whitesmoke;
    width: 50%;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
}

#kaoAni {
    width: 25%;
}

h1 {
    text-align: center;
    color: rebeccapurple;
    font-family: 'Fredoka One', cursive;
    font-size: 300%;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    
    color: white;
}

nav a:hover {
    color: whitesmoke;
}

button {
    background-color: rgb(54, 54, 54);
    padding: 6px;
    margin: 6px;
    width: 90px;
    border: 10px double whitesmoke;
    border-radius: 10px;
}

iframe {
    display:block;
}

.videoRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videoRow div {
    margin: 1%;
    border: 10px double whitesmoke;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a img {
width: 65px;
height: 65px;
margin: 10px;
}

